@import 'normalize', 'slide';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
      }

    font-family: 'Varela Round';
}